AI_PROVIDER=ollama # Choose between 'gemini' or 'ollama'
GEMINI_API_KEY= # your GEMINI API key from Google AI Studio
DATABASE_URL="file:./prisma/dev.db"
OLLAMA_BASE_URL=http://localhost:11434 # Default ollama base URL (change this if your port is different)
OLLAMA_MODEL=llama3.2:3b # ollama model to use
OLLAMA_NUM_CTX=8192 # context window for Ollama models

